
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
     margin-top: 0;
}

/* shared styles */
.secondary-bg{
    background: #F5F8FF;

}
.primary-btn{
    font-size: 16px;
    color: #FFFFFF;
    background-color: #4E47FF;
    padding: 16px 36px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform .2s;
}

.primary-btn:hover{
    background-color: #FFFF00;
    color: #000000;
    transform: scale(1.2);

}

.text-center{
    align-items: center;
}

/* Banner Section styles */

.hero{
    padding: 30px 0px;
}

.logo-name{
    font-size: 34px;
    font-weight: 700;
    color: #4E47FF;
}

.hero-container{
   background-image: url(../Assets/Hero-bg.png);
   background-size: cover;
   background-repeat: no-repeat;

}

.nav-bar{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: 0 auto;
}

.hero-content{
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    max-width: 700px;
    margin: 0px auto;
    padding: 50px;
}
.focus-btn{
    margin-bottom: 40px;
}

/* Action section styles */

.action-section{
    align-items: center;
    margin: 100px;
    display: flex;
    justify-content: center;
    gap: 220px;
}

.left-content{
    padding: 30px 0px;
}

.action-title{
    font-size: 40px;
    font-weight: 700;
    color: #252432;
}

.sub-title{
  font-size: 20px;
  color: #25243280;
  padding-bottom: 10px;
}

.webflow-image{
      max-width: 403px;
      height: 320px;
      border-radius: 48px;
      margin-left: 80px;
}

/* -- Productive Users Section style -- */
.productive-section{
    border-radius: 24px;
    background: rgba(78, 71, 255, 0.1);
    padding: 50px 80px 50px 80px;
    text-align: center;
    width: 1140px;
    margin: 0 auto;
}
.productive-title{
  font-size: 35px;
  color:#252432;
  margin-bottom: -10px;
}
.users{
    display: flex;
    justify-content:center;
    gap: 165px;
}
.num-title{  color: #4E47FF;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: -20px;
}
.num-sub{
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-weight: 400;
}

/* Users’ Feedback Section Section Styles */

.feedback{
    text-align: start;
    margin: 120px 150px;
    width: 1240px;
    /* margin: 120px auto; */
    
}

.feedback-title{
     text-align: center;
    font-size: 40px;
    font-weight:700;
     color: #252432;
     
}
.cards-container{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    
}
.card{
   border: 1px solid rgb(242, 237, 237);
   border-radius: 14px;
   background: rgb(255, 255, 255);
   padding: 34px;
   padding-right: 80px;
}


/* Review card style */
.stars{
        display: flex;
        align-items: center;
        margin: 24px 0px 20px;
}

.card-title{
    color: #1E1E1E;
    font-size: 24px;
    text-align: start;
    
}
.card-comment{
    color:#1E1E1E;
    font-size: 16px;
    font-weight: 400;
}

.reviewer-div{
    display: flex;
    align-items: center;
    gap: 12px;
}

.avatar{
      border-radius: 50%;
      width: 40px;
      height:40px;
}

.reviewer{
    font-family: Inter;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   
}
.reviewer-name{
     font-size: 15px;
     font-weight: 600;
     color: #757575;
     margin-bottom: -12px;
}

.date{
     font-size: 15px;
     font-weight: 400;
     color: #757575;
    }


/* Let’s Get In Touch Section Styles */
.contact-section{
    display: flex;
    gap: 115px;
    padding: 70px 150px;
    /* margin: 0 auto; */
    /* justify-content: space-between; */
}

.left-column{
    width: 50%;
    /* padding: 200px 115px 200px 0px; */
}
.left-column h1{

    font-size: 70px;
    font-weight: 700;
     margin: 150px 0;
}
.right-column{
    width: 50%;
}

.right-column  input[type="text"], .right-column input[ type= "email"],.right-column textarea {
   
    height: 30px;
    border-radius: 10px;
    background-color: #fff;
    display: block;
    width: 100%;
    padding: 20px 15px;
    margin-bottom: 24px;
    border: 1px solid rgb(214, 221, 237);
 }
 .form-btn{
    width: 106%;
 }

 /* Footer Styles */

 .footer-logo{
        color: rgb(78, 71, 255);
        font-family: Inter;
        font-size: 80px;
        font-weight: 900;
        margin-bottom: 0px;
 }

footer{
    padding-top: 20px;
    background-color: #fff;
    margin: -8px;
}

.footer-box{
    text-align: center;
    max-width: 700px;
    margin: 0px auto;
    padding: 80px 400px 100px;
}
.footer-des{
    Font: Inter;
    Font-size: 16px;
    Font-weight: 400;
    color: rgba(137, 135, 161, 1);      
}

.footer-links{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 10px;

}
.dummy-link{
    color: #8987A1;
    Font: Inter;
    Font-size: 16px;
    Font-weight: 400;
    text-decoration: none;
   
}

/* CSS Styles Completed here */